# Netbeans
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Java
*.class
*.jar
*.war
*.ear

# Maven #
.classpath
.project
.settings/
target/


# Relatórios
relatorio*.csv